/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Co-Headline Regular';
  src: url("../fonts/CoHeadlineW01Regular.woff2") format("woff2"), url("../fonts/CoHeadlineW01Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Co-Headline Bold';
  src: url("../fonts/CoHeadlineW01Bold.woff2") format("woff2"), url("../../fonts/CoHeadlineW01Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Sf-Compact Bold';
  src: url("../fonts/SFCompactDisplay-Bold.woff2") format("woff2"), url("../../fonts/SFCompactDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Sf-Compact Regular';
  src: url("../fonts/SFCompactDisplay-Regular.woff2") format("woff2"), url("../fonts/SFCompactDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 28px;
  max-width: 1920px;
  margin: 0 auto; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0); }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.wrapper {
  max-width: 1560px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px; }

@media (max-width: 767px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px; } }

.page-main {
  background-image: url(../img/raster/header-background-1.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden; }

.page-main__decoration {
  background-image: url(../img/raster/header-decoration.svg);
  background-position: -460px 0px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  width: 1000px;
  height: 500px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%); }

.header {
  color: white;
  padding-top: 60px;
  z-index: 5;
  position: relative; }

.header__block {
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: normal;
  font-family: 'Co-Headline Regular'; }

.header__block-title {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 00px; }

.header__block-text {
  margin-top: -10px;
  font-size: 35px;
  margin-bottom: 70px; }

.header__link {
  display: flex;
  width: 305px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 30px; }

.header__link-item {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-size: 0;
  display: block;
  background-image: url(../img/raster/google-buttons.svg);
  background-repeat: no-repeat; }
  .header__link-item:nth-child(2) {
    background-position: right; }

.header__nav a {
  text-decoration: none; }

.header__nav-img {
  height: auto;
  margin-left: 20px; }

.header__nav-text {
  display: block;
  color: #b3d7ef;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 0.04em;
  margin-left: 40px; }

@media (max-width: 767px) {
  .header__block-title {
    margin-bottom: 20px; }
  .header__link {
    margin-top: 60px; }
  .header {
    padding-top: 30px; } }

@media (max-width: 540px) {
  .header__nav {
    text-align: center; }
  .header__nav-img {
    margin-left: 0; } }

@media (max-width: 375px) {
  .header__link {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 60px; }
  .header__link-item {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; }
  .header__block-title {
    font-size: 32px; }
  .header__block-text {
    font-size: 28px; } }

.cards {
  margin-top: 185px; }

.cards__wrapper {
  display: flex;
  justify-content: space-between; }

.cards__item {
  width: 32%;
  display: flex; }
  .cards__item:nth-child(1) {
    width: 26.7%; }
    .cards__item:nth-child(1) svg {
      width: 75px;
      height: 75px; }
    .cards__item:nth-child(1) .cards__item-text {
      margin-top: 10px; }
      .cards__item:nth-child(1) .cards__item-text span:nth-child(1) {
        margin-bottom: 10px; }
  .cards__item:nth-child(2) {
    width: 32%; }
    .cards__item:nth-child(2) svg {
      width: 68px;
      height: 59px; }
    .cards__item:nth-child(2) .cards__item-text {
      margin-top: 3px; }
  .cards__item:nth-child(3) {
    width: 31%; }
    .cards__item:nth-child(3) svg {
      width: 68px;
      height: 54px; }

.cards__item-img {
  width: 90px;
  flex-shrink: 0;
  margin-right: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center; }

.cards__item-text {
  color: white;
  font-weight: normal;
  font-family: 'Sf-Compact Regular'; }
  .cards__item-text span:nth-child(1) {
    display: block;
    margin-top: 5px;
    font-size: 32px;
    margin-bottom: 5px;
    font-weight: normal;
    font-family: 'Co-Headline Regular'; }
  .cards__item-text span {
    line-height: 36px; }

.cards__link {
  width: 320px;
  display: block;
  text-align: center;
  color: #002a45;
  background-color: #50a8e0;
  text-decoration: none;
  border-radius: 50px;
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 80px;
  transition: .2s ease;
  margin-left: 105px; }
  .cards__link:hover {
    background-color: #7bbee8; }
  .cards__link:active {
    background-color: #3a9ddc;
    transform: scale(0.98); }

@media (max-width: 1200px) {
  .cards__item:nth-child(n) {
    width: 32%; } }

@media (max-width: 980px) {
  .cards__wrapper {
    flex-wrap: wrap; }
  .cards__item:nth-child(n) {
    width: 90%;
    margin: 0 auto;
    height: 120px;
    align-items: center; }
  .cards__link {
    margin: 0 auto;
    margin-top: 80px; }
  .cards__item:nth-child(1) .cards__item-text {
    margin-top: 0; }
  .cards__item:nth-child(1) .cards__item-text span:nth-child(1) {
    margin-bottom: 0; }
  .cards__item-text span {
    font-size: 20px;
    line-height: 24px; }
  .cards__item-text span:nth-child(1) {
    font-size: 24px; } }

@media (max-width: 540px) {
  .cards__item:nth-child(n) {
    height: 170px; }
  .cards__link {
    max-width: 320px;
    width: 100%; } }

@media (max-width: 375px) {
  .cards {
    margin-top: 130px; } }

.partners {
  margin-top: 145px;
  padding-bottom: 675px; }

.partners__header {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 39px;
  font-weight: normal;
  font-family: 'Co-Headline Regular'; }

.partners__wrapper {
  width: 870px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-between; }

.partners__item {
  width: 30%;
  align-items: center;
  display: flex; }
  .partners__item:nth-child(3) img {
    padding-top: 8px; }

@media (max-width: 900px) {
  .partners__wrapper {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto; }
  .partners__item {
    width: 100%;
    text-align: center; }
    .partners__item img {
      display: block;
      margin: 0 auto; } }

.page-form {
  position: relative; }

@media (max-width: 767px) {
  .page-form {
    margin-top: -400px; } }

.form {
  margin-top: -140px;
  margin-bottom: 160px;
  position: relative; }

.form__wrapper {
  display: flex; }

.form__decoration {
  width: 100%;
  position: absolute;
  height: 2200px;
  background-image: url(../img/raster/map-background.svg);
  background-repeat: no-repeat;
  background-position: 250px center;
  top: -800px;
  left: 0;
  background-size: cover;
  background-size: 200%;
  z-index: -1; }

.form__picture {
  width: 50%; }
  .form__picture img {
    margin-left: 42%; }

.form__block {
  width: 50%;
  margin-top: 140px; }

.form__block-header {
  text-transform: uppercase;
  color: #268aca;
  font-size: 39px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
  font-family: 'Co-Headline Regular'; }

.form__block-text {
  font-size: 22px;
  color: #a4a4a4;
  font-weight: normal;
  font-family: 'Co-Headline Regular'; }

.form__form {
  display: block;
  max-width: 640px;
  margin-top: 35px; }

.form__text {
  display: block;
  box-sizing: border-box;
  margin-bottom: 30px;
  width: 100%;
  font-size: 22px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 100px;
  padding-top: 15px;
  padding-bottom: 18px;
  outline: none;
  border: none;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  color: #34556b;
  transition: .2s ease;
  font-weight: normal;
  font-family: 'Co-Headline Regular'; }
  .form__text::placeholder {
    color: #ccd4da; }
  .form__text:hover {
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12); }
  .form__text:focus {
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12); }

.form__item {
  position: relative; }

.form__text-label {
  position: absolute;
  display: block;
  top: 50%;
  width: 10px;
  height: 0px;
  width: 100%; }
  .form__text-label::before {
    display: block;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #268aca;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    z-index: 10;
    transition: .2s ease; }

.form__text-label-line::after {
  display: block;
  content: '';
  position: absolute;
  width: 2px;
  height: 100px;
  background-color: #c3dff0;
  bottom: 0;
  left: 32px;
  z-index: 5; }

.form__text-label-arrow::after {
  display: block;
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  right: 32px;
  z-index: 5;
  background-image: url(../img/vector/icon-arrow-rigth.svg);
  background-position: center top;
  background-repeat: no-repeat; }

.form__text:focus ~ .form__text-label::before {
  background-color: #1dd039; }

.form__wrapper-submit {
  display: flex;
  justify-content: space-between; }

.select__wrapper {
  display: inline-block;
  position: relative;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  transition: .2s ease; }
  .select__wrapper:hover {
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12); }
  .select__wrapper:focus {
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12); }
  .select__wrapper::after {
    display: block;
    content: '';
    width: 20px;
    height: 15px;
    background-image: url(../img/vector/icon-arrow-bottom.svg);
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    right: 20px;
    top: 54%;
    z-index: 10;
    transform: translateY(-50%); }

.form__select {
  font-size: 22px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 100px;
  padding-top: 15px;
  padding-bottom: 18px;
  outline: none;
  border: none;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  color: #34556b;
  width: 360px;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align-last: center;
  font-weight: normal;
  font-family: 'Co-Headline Regular'; }
  .form__select option {
    outline: none; }

select:-moz-focusring, select::-moz-focus-inner {
  color: transparent !important;
  text-shadow: 0 0 0 #000 !important;
  background-image: none !important;
  border: 0; }

.form__submit {
  display: inline-block;
  width: 265px;
  margin-left: 15px;
  border: none;
  background-color: #50a8e0;
  color: #002A45;
  font-size: 22px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 100px;
  padding-top: 15px;
  padding-bottom: 16px;
  font-size: 22px;
  outline: none;
  border: none;
  transition: .2s ease;
  font-weight: normal;
  font-family: 'Co-Headline Regular'; }
  .form__submit:hover {
    background-color: #7bbee8; }
  .form__submit:active {
    background-color: #3a9ddc;
    transform: scale(0.98); }

@media (max-width: 1400px) {
  .form__select {
    width: 320px; }
  .form__decoration {
    background-size: cover;
    background-position: -200px top; } }

@media (max-width: 1200px) {
  .form__block {
    width: 70%; }
  .form__picture {
    width: 30%; }
    .form__picture img {
      margin-left: 30%; } }

@media (max-width: 1200px) {
  .form__picture {
    width: 30%; }
    .form__picture img {
      margin-left: 25%; }
  .form__submit {
    padding-left: 10px;
    padding-right: 10px; } }

@media (max-width: 1000px) {
  .form__picture img {
    margin-left: 1%; } }

@media (max-width: 767px) {
  .form__picture {
    display: none; }
  .form__block {
    width: 100%; }
  .form__form {
    max-width: 100%; } }

@media (max-width: 540px) {
  .form__submit {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-top: 30px; }
  .form__wrapper-submit {
    display: block; }
  .select__wrapper {
    width: 100%; }
  .form__select {
    width: 320px;
    width: 100%;
    display: block; } }

.footer {
  background-image: url(../img/raster/footer-background.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  font-family: 'Co-Headline Regular';
  padding-bottom: 80px;
  padding-top: 360px; }

.footer__wrapper {
  display: flex; }

.footer__contact {
  margin-right: 80px;
  margin-left: 20px;
  flex-shrink: 0;
  margin-right: 5%; }
  .footer__contact a {
    display: block;
    color: inherit;
    text-decoration: none;
    opacity: .6;
    transition: .2s ease; }
    .footer__contact a:hover {
      opacity: 1; }
  .footer__contact span {
    opacity: .6;
    transition: .2s ease; }
    .footer__contact span:hover {
      opacity: 1; }

.footer__contact-header {
  font-size: 19px;
  margin-bottom: 43px;
  font-weight: bold;
  font-family: 'Co-Headline Bold'; }

.footer__contact-text {
  line-height: 25px;
  display: block;
  margin-bottom: 7px; }

.footer__links {
  margin-top: 67px; }

.footer__list {
  display: flex; }

.footer__list-wrapper:nth-child(1) {
  width: 290px; }

.footer__list-wrapper:nth-child(2) {
  width: 190px; }

.footer__list-wrapper:nth-child(3) {
  width: 190px; }

.footer__list-wrapper:last-child .footer__list-item {
  list-style: none; }

.footer__list-item {
  list-style: square;
  margin-bottom: 7px; }
  .footer__list-item a {
    color: white;
    text-decoration: none;
    opacity: .6;
    transition: .2s ease; }
    .footer__list-item a:hover {
      opacity: 1; }

.footer__newsletter {
  max-width: 310px;
  margin-top: -30px;
  margin-left: 100px; }

.footer__newsletter-title {
  font-size: 19px;
  margin-bottom: 23px;
  display: inline-block;
  font-weight: bold;
  font-family: 'Co-Headline Bold'; }

.footer__newsletter-form {
  width: 290px; }

.footer__newsletter-input {
  display: block;
  box-sizing: border-box;
  margin-bottom: 15px;
  width: 100%;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 100px;
  padding-top: 10px;
  padding-bottom: 14px;
  outline: none;
  border: none;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  color: white;
  background-color: transparent;
  border: 1px solid white;
  opacity: .5;
  transition: .2s ease;
  font-weight: normal;
  font-family: 'Co-Headline Regular'; }
  .footer__newsletter-input:focus, .footer__newsletter-input:hover {
    opacity: 1; }
  .footer__newsletter-input::placeholder {
    color: #ccd4da; }

.footer__newsletter-submit {
  display: block;
  box-sizing: border-box;
  margin-bottom: 55px;
  width: 240px;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 100px;
  padding-top: 6px;
  padding-bottom: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  color: white;
  background-color: transparent;
  border: 1px solid white;
  opacity: .5;
  transition: .2s ease;
  font-weight: normal;
  font-family: 'Co-Headline Regular'; }
  .footer__newsletter-submit:focus, .footer__newsletter-submit:hover {
    opacity: 1; }
  .footer__newsletter-submit:active {
    transform: scale(0.98); }

.footer__social {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 20px; }

.footer__social-list {
  margin: 0;
  padding-left: 30px;
  border-left: 1px solid white; }

.footer__social-item {
  list-style: none;
  margin-bottom: 30px;
  height: 35px; }
  .footer__social-item:last-child {
    margin-bottom: 0; }
  .footer__social-item a {
    font-size: 0;
    color: white;
    display: block; }
    .footer__social-item a svg {
      width: 35px;
      height: 35px; }

@media (max-width: 1500px) {
  .footer__newsletter {
    margin-left: 30px; } }

@media (max-width: 1400px) {
  .footer__list-wrapper:nth-child(1) {
    width: 240px; }
  .footer__list-wrapper:nth-child(2) {
    width: 130px; }
  .footer__list-wrapper:nth-child(3) {
    width: 130px; }
  .footer__newsletter {
    margin-left: 0; } }

@media (max-width: 1200px) {
  .footer__list-wrapper {
    width: 100%; }
    .footer__list-wrapper:last-child .footer__list-item {
      list-style: square; }
  .footer__list-wrapper:nth-child(2) {
    width: 200px; }
  .footer__list {
    flex-wrap: wrap;
    margin-top: -32px; }
  .footer__contact {
    margin-top: -48px; } }

@media (max-width: 900px) {
  .footer {
    padding-bottom: 30px; }
  .footer__wrapper {
    flex-wrap: wrap; }
  .footer__list-wrapper {
    width: 50%; }
    .footer__list-wrapper:nth-child(n) {
      width: 50%; }
    .footer__list-wrapper:nth-child(2) {
      width: 50%; }
  .footer__links {
    width: calc(100% - 200px); }
  .footer__list {
    width: 100%;
    max-width: 800px;
    margin-top: -52px; }
  .footer__contact {
    margin-left: 0px; }
  .footer__newsletter {
    margin-top: 20px; }
  .footer__social {
    margin-top: 60px; }
  .footer__contact-header {
    margin-bottom: 23px; } }

@media (max-width: 767px) {
  .footer__list-wrapper {
    width: 50%; }
    .footer__list-wrapper:nth-child(n) {
      width: 45%;
      margin-right: 30px; }
    .footer__list-wrapper:nth-child(2) {
      width: 32%; }
  .footer {
    padding-top: 330px;
    margin-top: -100px; }
  .form__decoration {
    height: 1350px;
    top: -400px;
    background-position: -300px top;
    background-size: 400%; } }

@media (max-width: 540px) {
  .footer {
    padding-top: 400px;
    padding-bottom: 10px; }
  .footer__list-wrapper:nth-child(n) {
    width: 100%; }
  .footer__social {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 300px; }
  .footer__social-list {
    border: none;
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .footer__newsletter {
    width: 100%;
    margin: 0 auto; }
  .footer__contact {
    max-width: 300px;
    margin: 0 auto;
    width: 100%; }
  .footer__links {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px; }
    .footer__links ul {
      padding-left: 20px; }
  .footer__newsletter-google {
    margin-top: 50px; } }

@media (max-width: 375px) {
  .footer {
    margin-top: -250px; } }
